<div id="main">
{ page.set :game, 'lfg'
  include("partials/header.partial") }

<table class="blog-table">
  <tr>
    <td>
      <div id="content">

        <h1>{ page.title }</h1>

        { include("partials/blog-description.partial") }

        { body }

      </div>
    </td>
    <td class="td-blog-sidebar">
      { include("partials/blog-sidebar.partial") }
    </td>
  </tr>
</table>

{ include("partials/footer.partial") }
</div>
