/* general */

body {
  background-color: #001100;
  color: #99cc99;
}

a {
  color: #00bb00;
}

a:hover {
  color: #00ff00;
}

em {
  color: #bbbb00;
}

h1,h2,h3,h4 {
  color: #00bb00;
  border-bottom: 1px solid #444400;
}

/* title and header */

span.title {
  color: #bbbb00;
}

span.title-game {
  color: #bbbb00;
}

div.header {
  margin-top: 5px;
  background-color: #005500;
}

div.header a {
  color: #bbbb00;
}

div.header a:hover {
  color: #ffff55;
}

div.header a.current {
  color: #ffff55;
}

/* main content */

img.ss-link {
  border: solid 2px #005500;
}

div.footnote {
  border-top: 1px solid #005500;
}

/* special for videos */

div.video-border {
  background-color: #005500;
}

div.video-border-old {
  background-color: #005500;
}

/* manual formatting */

div.manual h2 span {
  color: #777700;
}

div.manual h3 span {
  color: #777700;
}

div.manual h4 span {
  color: #777700;
}

div.manual li span {
  color: #bbbb00;
}

div.manual-screenshot-right {
  background-color: #001100;
}

div.manual-screenshot-left {
  background-color: #001100;
}

/* footers */

div.footer {
  background-color: #005500;
  color: #ffff55;
}
