/* general */

body {
  background-color: #eeeeee;
  color: #555555;
}

a {
  color: #3333aa;
}

a:hover {
  color: #bbbbff;
}

em {
  color: #993333;
}

h1,h2,h3,h4 {
  color: #3333aa;
  border-bottom: 1px solid #bbbbff;
}

/* title and header */

span.title {
  color: #3333aa;
}

span.title-game {
  color: #3333aa;
}

div.header {
  margin-top: 5px;
  background-color: #9999bb;
}

div.header a {
  color: #ddddff;
}

div.header a:hover {
  color: #ffffff;
}

div.header a.current {
  color: #ffffff;
}

/* main content */

img.ss-link {
  border: solid 2px #bbbbff;
}

div.footnote {
  border-top: 1px solid #bbbbff;
}

/* special for videos */

div.video-border {
  background-color: #bbbbff;
}

div.video-border-old {
  background-color: #bbbbff;
}

/* manual formatting */

div.manual h2 span {
  color: #bbbbff;
}

div.manual h3 span {
  color: #bbbbff;
}

div.manual h4 span {
  color: #bbbbff;
}

div.manual li span {
  color: #7777dd;
}

div.manual-screenshot-right {
  background-color: #eeeeee;
}

div.manual-screenshot-left {
  background-color: #eeeeee;
}

/* footers */

div.footer {
  background-color: #9999bb;
  color: #ffffff;
}
