/* general */

body {
  background-color: #000000;
  color: #bbbbbb;
  font-size: 16px;
  font-family: sans-serif;
  padding: 2em;
}

a {
  color: #ffee99;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: normal;
  color: #e7e7e7;
}

h1,h2,h3,h4 {
  margin: 0em;
  padding: 0em;
  font-style: normal;
  font-weight: normal;
  color: #ffee99;
  border-bottom: 1px solid #664411;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

/* tricks for dealing with iOS devices here */

@media only screen and (max-device-width: 1030px) {
  div#main {
    width: 96%;
    margin-left: 2%;
  }
}
@media screen and (min-device-width: 1031px) {
  div#main {
    width: 80%;
    margin-left: 10%
  }
}

/* title and header */

span.title {
  font-size: 48px;
  color: #ffee99;
}

span.title-llc {
  font-size: 10px;
}

span.title-game {
  font-size: 36px;
  color: #ffee99;
}

span.header-llc {
  font-size: 8px;
}

div.header {
  padding: 0.5em 1em;
  background-color: #664411;
}

div.header a {
  margin: 0 1em;
}

a.current {
  color: #ffffff;
}

span.header-right {
  float: right;
}

/* main content */

div#content {
  padding: 1em;
}

div#content p {
  line-height: 140%;
}

div#content li {
  line-height: 140%;
}

td.game {
  padding: 1.5em 1em;
}

td.game img:not(.ss-link) {
  padding: 0.75em;
}

div.section {
  padding: 1em;
}

img.ss-link {
  margin: 0.5em;
  border: solid 2px #664411;
}

div.footnote {
  margin: 0 1em;
  padding: 0.25em 1em;
  border-top: 1px solid #664411;
  font-size: 14px;
}

/* special for videos */

div.video-border {
  margin: 1em;
  padding: 1px;
  background-color: #664411;
  width: 480px;
  height: 270px;
}

div.video-border-old {
  margin: 1em;
  padding: 1px;
  background-color: #664411;
  width: 480px;
  height: 300px;
}

/* manual formatting */

div.manual h2 span {
  font-size: 32px;
  color: #664411;
  position: relative;
  top: 7px;
  padding-right: 0.25em;
}

div.manual h3 span {
  font-size: 30px;
  color: #664411;
  position: relative;
  top: 7px;
  padding-right: 0.25em;
}

div.manual h4 span {
  font-size: 28px;
  color: #664411;
  position: relative;
  top: 7px;
  padding-right: 0.25em;
}

div.manual p {
  text-indent: 1.5em;
}

div.manual p.indent-override {
  margin-top: 0px;
  text-indent: 0;
  line-height: 140%;
}

div.manual ul.toc li {
  padding-top: 0.25em;
  list-style-type: none;
}

div.manual li span {
  color: #bb9955;
}

table.manual-table {
  padding: 1em 1em;
}

table.manual-table td {
  padding: 0.125em 0.5em;
}

img.tsc-control {
  margin: 2px;
  vertical-align: middle;
  height: 36;
  width: 36;
}

div.manual-screenshot-right {
  float: right;
  padding: 0em 0em 1em 1.5em;
  background-color: #000;
}

div.manual-screenshot-left {
  float: left;
  padding: 0em 1.5em 1em 0em;
  background-color: #000;
}

div.manual-screenshot-subtitle {
  text-align: center;
  padding: 0.5em 0em;
}

/* footers */

div.footer {
  text-align: right;
  padding: 0.25em 2em;
  background-color: #664411;
  color: #ffee99;
  clear: both;
}
