/* general */

body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 75%);
  font-family: "Rubik", sans-serif;
}

a {
  color: hsl(60, 80%, 80%);
}

a:hover {
  color: hsl(0, 0%, 100%);
}

em {
  color: hsl(0, 0%, 100%);
}

h1,h2,h3,h4 {
  color: hsl(60, 80%, 80%);
  border-bottom: 1px solid hsl(200, 60%, 25%);
}

/* title and header */

span.title {
  color: hsl(60, 80%, 80%);
}

span.title-game {
  color: hsl(60, 80%, 80%);
}

/* well, okay, that's not a color down there, but it's specific to LFG */

div.header {
  background-color: hsl(200, 60%, 20%);
  margin-left: 3em;
}

div.header svg {
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  margin-right: -1em;
}

a.current {
  color: hsl(0, 0%, 100%);
}

/* main content */

img.ss-link {
  border: solid 2px hsl(200, 60%, 25%);
}

div.footnote {
  border-top: 1px dashed hsl(200, 60%, 25%);
}

/* special for videos */

div.video-border {
  background-color: hsl(200, 60%, 25%);
}

div.video-border-old {
  background-color: hsl(200, 60%, 25%);
}

/* manual formatting */

div.manual h2 span {
  color: hsl(200, 60%, 25%);
}

div.manual h3 span {
  color: hsl(200, 60%, 25%);
}

div.manual h4 span {
  color: hsl(200, 60%, 25%);
}

div.manual li span {
  color: #bb9955;
}

div.manual-screenshot-right {
  background-color: hsl(0, 0%, 0%);
}

div.manual-screenshot-left {
  background-color: hsl(0, 0%, 0%);
}

/* footers */

div.footer {
  background-color: hsl(200, 60%, 20%);
  color: hsl(60, 80%, 80%);
}

div.footer svg {
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  margin-right: -1em;
}

/* blog */

/* ...And this is a hack to get around float issues. Also not purely a color */

div.blog-filler {
  background-color: hsl(200, 60%, 12%);
  float: right;
  width: 16em;
  padding: 0 1em;
  border: 1px solid hsl(200, 60%, 12%);
}

td.td-blog-sidebar {
  background-color: hsl(200, 60%, 12%);
}

span.blog_date_expanded {
  color: hsl(60, 80%, 80%);
}

span.blog_date_collapsed {
  color: hsl(60, 80%, 80%);
}

span.blog-date {
  color: hsl(0, 0%, 63%);
}

span.prev-blog-page {
  background-color: hsl(200, 60%, 12%);
}

span.next-blog-page {
  background-color: hsl(200, 60%, 12%);
}

span.blog-nav {
  background-color: hsl(200, 60%, 12%);
}

span.blog-entry-date {
  color: hsl(200, 60%, 30%);
}

div.blog-small-description {
  color: hsl(0, 0%, 63%);
  border-top: 1px dashed hsl(200, 60%, 25%);
}
