/* general */

body {
  font-size: 16px;
  font-family: sans-serif;
  padding: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: normal;
}

h1,h2,h3,h4 {
  margin: 0em;
  padding: 0em;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

/* tricks for dealing with iOS devices here */

@media only screen and (max-device-width: 1030px) {
  div#main {
    width: 96%;
    margin-left: 2%;
  }
}
@media screen and (min-device-width: 1031px) {
  div#main {
    width: 80%;
    margin-left: 10%
  }
}

/* title and header */

span.title {
  font-size: 48px;
}

span.title-llc {
  font-size: 10px;
}

span.title-game {
  font-size: 36px;
}

div.header {
  padding: 0.5em 1em;
}

div.header a {
  margin: 0 1em;
}

span.header-right {
  float: right;
}

/* main content */

div#content {
  padding: 1em;
}

div#content p {
  line-height: 140%;
}

div#content li {
  line-height: 140%;
}

td.game {
  padding: 1.5em 1em;
}

td.game img:not(.ss-link) {
  padding: 0.75em;
}

div.section {
  padding: 1em;
}

img.ss-link {
  margin: 0.5em;
}

div.footnote {
  margin: 0 1em;
  padding: 0.25em 1em;
  font-size: 14px;
}

/* special for videos */

div.video-border {
  margin: 1em;
  padding: 1px;
  width: 480px;
  height: 270px;
}

div.video-border-old {
  margin: 1em;
  padding: 1px;
  width: 480px;
  height: 300px;
}

/* manual formatting */

div.manual h2 span {
  font-size: 32px;
  position: relative;
  top: 7px;
  padding-right: 0.25em;
}

div.manual h3 span {
  font-size: 30px;
  position: relative;
  top: 7px;
  padding-right: 0.25em;
}

div.manual h4 span {
  font-size: 28px;
  position: relative;
  top: 7px;
  padding-right: 0.25em;
}

div.manual p {
  text-indent: 1.5em;
}

div.manual p.indent-override {
  margin-top: 0px;
  text-indent: 0;
  line-height: 140%;
}

div.manual ul.toc li {
  padding-top: 0.25em;
  list-style-type: none;
}

table.manual-table {
  padding: 1em 1em;
}

table.manual-table td {
  padding: 0.125em 0.5em;
}

img.tsc-control {
  margin: 2px;
  vertical-align: middle;
  height: 36;
  width: 36;
}

div.manual-screenshot-right {
  float: right;
  padding: 0em 0em 1em 1.5em;
}

div.manual-screenshot-left {
  float: left;
  padding: 0em 1.5em 1em 0em;
}

div.manual-screenshot-subtitle {
  text-align: center;
  padding: 0.5em 0em;
}

/* footers */

div.footer {
  text-align: right;
  padding: 0.25em 2em;
  clear: both;
}

/* blog */

table.blog-table {
  border-collapse: collapse;
  border-spacing: 0px;
}

table.blog-table td {
  vertical-align: top;
}

div.blog-sidebar {
  margin: 0em;
  padding: 1em;
  width: 16em;
}

div.blog-date-sidebar ul {
  padding: 0em;
  margin: 0em 0em 0em 1.5em;
}

div.blog-date-sidebar li {
  padding: 0.5em 0em 0em 0em;
  margin: 0em;
}

div.blog-tag-sidebar ul {
  padding: 0em;
  margin: 0em 1.5em;
}

div.blog-tag-sidebar li {
  list-style-type: none;
  padding: 0.5em 0em 0em 0em;
  margin: 0em;
}

div.blog-sidebar a img {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

img.doug-icon {
  margin: 1em 1em 1em 0em;
  float: left;
}

div.blog-entry-list a {
  font-size: 20px;
}

span.blog-date {
  font-size: 13px;
}

span.prev-blog-page {
  padding: 0.25em 1em;
  margin: 0em 1em 0em 0em;
}

span.next-blog-page {
  padding: 0.25em 1em;
  margin: 0em 1em 0em 0em;
}

span.blog-nav {
  padding: 0.25em 1em;
  margin: 0em 1em 0em 0em;
}

span.blog-entry-date {
  font-size: 22px;
}

div.blog-content h2 {
  font-size: 18px;
}

div.blog-small-description {
  font-size: 13px;
}

div.blog-small-description img.doug-icon {
  margin: 0.4em 1em 1em 0em;
  width: 80px;
  height: 80px;
}

p.blog-description-top {
  margin-top: 0em;
  padding-top: 0.4em;
}
